@model Testimonials
<h1>@Model.Name</h1>
<h1>@Model.Surname</h1>
<h1>@Model.Id</h1>

<h1>@Model.Job.Name</h1>
  <div class="form-group mb-4">
                    <img style="width:100px" src="~/assets/img/testimonials/@Model.ProfileImageName" />
                </div